body {
    padding: 25px;
    background-color: blanchedalmond;
}

.tab-pane {
    padding: 10px;
}
#home {
    background-color: red;
}

#shop {
    background-color: green;
}

#contact {
    background-color: blue;
    color: aliceblue;
}

#starWars
{
    background-color: grey;
    text-align: center;
    font-weight: bold;
    font-size: 10px;

}

.star
{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.nav-pills
{

    color: black;
    font-weight: Bold;
    text-align: center;
    background-color: dodgerblue;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}
